
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    margin-bottom:0.5em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

h5 {
    font-family: 'Raleway', sans-serif;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 0.8em;
}

p {
    color: black;
    font-weight: normal;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: aqua;
    background-color: #ffff00;
}

div {
    color: #000;
}

ul,
ol {
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 1.5em;
    font-family: 'Raleway', sans-serif;
}

footer {
    padding:3em;
    background-color: #000;
}

.naranja {
    background-color: rgb(233, 128, 0);
    padding: 3em;
    margin-bottom: 1em;
}

.beige{
    background-color: #ffffff;
    padding: 3em;
    margin-bottom: 1em;
    text-align: center;
}
.card {
    background-color: white;
    border-radius: 50%;
}

.slider {
    background-color: white;
    background-image: url(/images/slider.jpg);
    background-size: cover;
    width: auto;
    height: 30em;
    padding-left: 3.3em;
}


#slider-title {
    width: 28em;
    padding-top:1em;
}

#slider-tagline {
    width: 28em;
    padding-top:10em;
}

#slider-subtitle {
    width: 28em;
    margin-top:1em;
}

#slider-button {
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin-top: 1em;
}


#footer-text {
    color:white;
    font-size: 0.8em;
}

#nav {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    text-align:center;
    padding: 1em;
    padding-bottom: 2em;
}

#topnav {
    background-color: #4426ee;
    color: #ffffff;
    font-size: 1.1em;
    padding: 0.5em;
    text-align:center;
}

#logo {
    width: 80px;
}

.derecha {
    text-align: right;
}