/* Colores */
/* Tipografias */
/* Media Queries */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #000;
  overflow-x: hidden;
  background-color: white;
}

img {
  max-width: 100%;
}

/* titulos */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #4426ee;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

label {
  color: #ffffff;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 125px;
}

p {
  color: black;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6;
}

.tagline p {
  font-size: 15px;
  color: #d1f7f6;
  text-transform: uppercase;
}

.subtitulo p {
  color: white;
}

/* Links */
a {
  text-decoration: none;
  color: #4426ee;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
  transition: all 0.1s;
}

.active {
  color: #4426ee;
  font-weight: bold;
}

/* Listas */
ul,
ol {
  list-style-type: none;
}

li {
  display: inline;
}

.listado {
  display: block;
}

/* Botones */
.boton {
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  font-weight: bold;
  background-color: #4426ee;
  color: white;
}

.bhero {
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  font-weight: bold;
  background-color: #4426ee;
  color: white;
}

.boton:hover {
  background-color: #0e0637;
}

.bhero:hover {
  background-color: #d1f7f6;
  color: #4426ee;
}

input, textarea {
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 0px;
}

/* hero */
.cont-hero-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.cont-hero {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.cont-hero-izq {
  width: 375px;
}

.cont-hero-der {
  width: 334px;
}

/* Media Queries Hero */
@media screen and (max-width: 768px) {
  .cont-hero-padre {
    justify-content: space-around;
  }
  .cont-hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .cont-hero-izq {
    width: 375px;
    height: auto;
  }
  .cont-hero-der {
    width: 334px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
/* Media Queries Menu */
@media screen and (max-width: 399px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
/*Navbar*/
.navbar-contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1400px;
  justify-content: space-between;
  padding: 30px;
  background-color: white;
}

.navbar-contenedor-padre {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-logo {
  display: flex;
  justify-content: center;
}
.navbar-logo img {
  width: 145px;
}

/*Topbar*/
.topnav-contenedor {
  display: flex;
  flex-direction: column;
}

.topnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25px;
  text-align: center;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.azul {
  background-color: #4426ee;
}

.cian {
  background-color: #d1f7f6;
  color: #4426ee;
}

/*Nav*/
.nav-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.nav-chica {
  display: flex;
  flex-direction: row;
  width: 1000px;
  align-items: center;
  justify-content: space-between;
}

/* Media Queries Nueva nav */
@media screen and (max-width: 768px) {
  .cont-hero-padre {
    justify-content: space-around;
  }
  .nav-chica {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    text-align: center;
  }
}
/* Origen */
.origenes-padre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.origenes-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

/*  Cafe */
.cafe-contenedor-grande {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 30px;
}
.cafe-contenedor-grande h3 {
  color: #4426ee;
  font-weight: 800;
}

.cafe-contenedor-chico {
  margin-left: auto;
  margin-right: auto;
}

.cafe-card {
  background-color: #d1f7f6;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 400px;
}

.cafe-card-desc {
  max-width: 504px;
}

.cafe-img {
  margin-bottom: 20px;
  max-width: 300px;
}

.cafedeldia-padre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #d1f7f6;
  padding: 30px;
}

/*iconos*/
.iconos-contenedor {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.iconos {
  color: #4426ee;
  font-size: 50px;
  padding: 30px;
}

/*Newsletter*/
.news-bg {
  background-color: #4426ee;
}

.news-contenedor {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.news-contenedor h2, .news-contenedor p {
  color: white;
}

.news-boton {
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  background-color: #d1f7f6;
  color: #4426ee;
}

.news-boton:hover {
  background-color: #0e0637;
}

.news-input {
  border-radius: 10px;
  padding: 15px;
  height: 54px;
}

.news-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  align-items: center;
}

/*Blog*/
.blog-bg {
  background-color: #fffdf0;
}

.blog-contenedor {
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.blog-contenedor h3 {
  color: #4426ee;
  font-weight: 800;
}
.blog-contenedor article {
  padding: 40px;
}

/* Bg */
.hero-home-bg {
  background-image: url("../images/slider.jpg");
  background-size: cover;
}

/* Imagen destacada */
.imagen-destacada {
  background-image: url("../images/img-destacada.jpg");
  background-size: cover;
  width: auto;
  height: 400px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .origen {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .cafe-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .boton-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .origen-contenedor {
    row-gap: 40px;
  }
  .iconos-contenedor-chico {
    row-gap: 20px;
    max-width: 500px;
  }
}
@media screen and (max-width: 480px) {
  .news-form {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 20px;
  }
  .news-input {
    border-radius: 10px;
    padding: 15px;
    height: 54px;
    margin: 0px;
  }
  .news-boton {
    margin-top: 0px;
  }
}
/* Bg */
.hero-accesorios-bg {
  background-image: url("../images/slider-accesorios.jpg");
  background-size: cover;
}

/* Contenedores */
.accesorios-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.accesorios-contenedor-chico {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  padding: 30px;
}

.contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.contenedor-tarjetas-chico-izq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
  padding: 0px;
}
.contenedor-tarjetas-chico-izq h3 {
  color: #d1f7f6;
}

.contenedor-tarjetas-chico-der {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
  padding: 0px;
}
.contenedor-tarjetas-chico-der h3 {
  color: #d1f7f6;
}

.tarjeta-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  align-self: center;
}

.tarjeta-texto-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #4426ee;
}
.tarjeta-texto-izq p {
  text-align: left;
  color: white;
}

table {
  text-align: center;
}
table th {
  color: #d1f7f6;
}
table td {
  color: white;
}

.tarjeta-texto-der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  background-color: #4426ee;
}
.tarjeta-texto-der p {
  text-align: right;
  color: white;
}

/* Boton */
.accesorios-boton {
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  background-color: #d1f7f6;
  color: #4426ee;
}

.accesorios-boton:hover {
  background-color: #0e0637;
  color: white;
}

/* Imagen destacada */
.imagen-destacada-accesorios {
  background-image: url("../images/img-destacada-accesorios.jpg");
  background-size: cover;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .tarjeta-texto-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tarjeta-texto-izq p {
    text-align: center;
  }
  .tarjeta-texto-der {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tarjeta-texto-der p {
    text-align: center;
  }
}
/* Bg */
.hero-blog-bg {
  background-image: url("../images/slider-blog.jpg");
  background-size: cover;
}

/* Blog */
.cont-hero-padre-blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.cont-hero-blog {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  align-items: flex-start;
}

.boton-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Bg */
.hero-cafe-bg {
  background-image: url("../images/slider-cafe.jpg");
  background-size: cover;
}

.amarillo {
  background-color: #fffdf0;
}

/* Productos */
.productos-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.productos-contenedor-chico {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.producto-card {
  border-radius: 15px;
  padding: 20px;
  min-height: 450px;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}
.producto-card img {
  width: 200px;
  margin: 10px;
}
.producto-card h3 {
  color: black;
}

.producto-card:hover {
  box-shadow: 2px 2px 13px 8px rgba(0, 0, 0, 0.1);
}

.precio {
  color: #4426ee;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Imagen destacada */
.imagen-destacada-lavado {
  background-image: url("../images/lavado.jpg");
  background-size: cover;
  height: 200px;
}
.imagen-destacada-lavado h2 {
  color: white;
}

.imagen-destacada-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

/* Bg */
.hero-contacto-bg {
  background-image: url("../images/slider-contacto.jpg");
  background-size: cover;
}

/* Formulario */
.contacto-contenedor {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-contenedor-chico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  max-width: 1000px;
}

.contenedor-input {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contenedor-fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
}

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  background-color: #d1f7f6;
  border-radius: 30px;
  row-gap: 10px;
}
.form p, .form label {
  color: #000;
}
.form legend {
  font-size: 15px;
  font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .opciones {
    display: flex;
    flex-direction: column;
  }
}
/* Footer */
.footer {
  background-color: #000;
  font-size: 12px;
  padding: 3em;
}
.footer h3 {
  color: #ffffff;
}
.footer p {
  color: #ffffff;
  margin: 0px;
  font-size: 12px;
}
.footer a {
  font-weight: 500;
  color: #c22969;
}
.footer a:hover {
  color: rgb(114, 114, 114);
}
.footer ul, .footer li {
  display: block;
  padding: 0px;
}

.logo-footer {
  width: 100px;
  padding: 0px;
  margin: 0px;
}

.footer-boton {
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  background-color: #c22969;
  color: white;
}

.footer-boton:hover {
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  background-color: rgb(114, 114, 114);
  color: white;
}

.footer-input {
  border-radius: 10px;
  padding: 15px;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.card-4col {
  text-align: center;
}

.cuatro-columnas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

/*# sourceMappingURL=styles.css.map */
