/* Bg */
.hero-accesorios-bg {
    background-image: url("../images/slider-accesorios.jpg"); 
    background-size:cover;
}



/* Contenedores */



.accesorios-contenedor {
    @include flex-column-centrado;
    align-content: center;
}

.accesorios-contenedor-chico {
    @include flex-column-centrado;
    max-width: 1400px; 
    padding: 30px;
}

.contenedor-tarjetas {
    @include flex-column-centrado;
    row-gap: 20px;
}

.contenedor-tarjetas-chico-izq {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
    padding: 0px;

    h3 {
        color: $color-secundario;
    }
}

.contenedor-tarjetas-chico-der {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: center; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
    padding: 0px;

    h3 {
        color: $color-secundario;
    }
}

.tarjeta-img {
    @include flex-column-centrado;
    padding:10px;
    align-self: center;
}

.tarjeta-texto-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:20px;
    background-color: $color-primario;
    p {
        text-align: left;
        color: white;
    }
}

table {
    text-align: center;
    th {
    color: $color-secundario
    }
    td {
        color: white;
        }
}

.tarjeta-texto-der {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding:20px;
    background-color: $color-primario;
    p {
        text-align: right;
        color: white;
    }
}


/* Boton */

.accesorios-boton {
    @include boton-base;
    background-color: $color-secundario;
    color:$color-primario;
}

.accesorios-boton:hover {
    background-color: #0e0637;
    color: white;
}


/* Imagen destacada */

.imagen-destacada-accesorios {
    background-image: url("../images/img-destacada-accesorios.jpg"); 
    background-size:cover;
}

/* Media queries */

@media screen and (max-width: 768px) {

    .tarjeta-texto-izq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }
    }
    
    .tarjeta-texto-der {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }
 }
 
}