

/* Bg */
.hero-blog-bg {
    background-image: url("../images/slider-blog.jpg"); 
    background-size:cover;
}


/* Blog */

.cont-hero-padre-blog {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    padding: 30px;
  }
  
  .cont-hero-blog {
    display:flex; 
    flex-direction: column; 
    width: 1000px; 
    align-items: center;
    align-items: flex-start;
  }

  .boton-blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }