/* Footer */


.footer {
    background-color: #000;
    font-size: 12px;
    padding: 3em;

    h3 {
        color: #ffffff;
    }

    p {
        color: #ffffff;
        margin: 0px;
        font-size: 12px;
    }

    a {
        font-weight: 500;
        color: $acento;
    }
    a:hover {
        color: rgb(114, 114, 114);
    }

    ul, li {
        display: block;
        padding: 0px;
    }
 }

.logo-footer {
    width: 100px;
    padding: 0px;
    margin: 0px;
}

 .footer-boton {
        @include boton-base;
        background-color: $acento;
        color:white;
    }

.footer-boton:hover {
    @include boton-base;
    background-color: rgb(114, 114, 114);
    color:white;
}

    .footer-input {
        border-radius: 10px;
        padding: 15px;
        height: 34px;
        margin-top: 10px;
        margin-bottom: 10px;
        width:70%;
    }


.card-4col {
    text-align: center;

}

.cuatro-columnas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}
