* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-body;
    background-color: $bg-color;
    color: #000;
}

img {
    max-width: 100%;
}

/* titulos */

h1 {
    font-family: $fuente-titulos;
    font-size: 2.4em;
}

h2 {
    font-family: $fuente-titulos;
    font-size: 1.7em;
}
 
h3 {
    font-family: $fuente-titulos;
    font-size: 1.2em;

    .azul {
        color: $color-primario;
    }
}

fieldset {
    border: none;
    }
    
    
    label {
        color:#ffffff;
    }

.logo {

    display: flex;
    justify-content:center;

    img {
        width: 5em;
     }
}


.titulo-fondo-azul {
    background-color: $color-primario;
    color:#ffffff;
    text-align: center;
    padding-top: 1em;
}

.titulo-centrado {
    text-align: center;
}



p {
    color: black;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
}

/* Links */

a {
    text-decoration: none;
    color: $color-primario; 
    font-weight: 800;
    
}

a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    transition:all 0.5s;
}

/* Listas */

ul,
ol {
    list-style-type: none;
}

li {
    display: inline;
}

.listado {
    display:block;
}

/* Slider */

#slider { grid-area: slider; 
}


.slider-padre {
display: grid;
grid-template-rows: 0.2fr 0.1fr 2fr 0.2fr 0.2fr 0.2fr;
grid-template-areas: 
    ". . ."
    "slider-padre-tagline slider-padre-tagline slider-padre-tagline"
    "slider-padre-title slider-padre-title slider-padre-title"
    "slider-padre-subtitle slider-padre-subtitle slider-padre-subtitle"
    "slider-padre-button slider-padre-button slider-padre-button"
    ". . .";
grid-template-columns: 0.3fr 2fr 2fr;
row-gap: 2rem;
justify-items: left;
padding: 3em;
margin-bottom: 2em;
background-size:cover;
}







#slider-padre-tagline { 
grid-area: slider-padre-tagline; 
grid-column-start: 2;
grid-column-end: 2;
}

#slider-padre-title { 
grid-area: slider-padre-title; 
grid-column-start: 2;
grid-column-end: 2;
}

#slider-padre-subtitle { 
grid-area: slider-padre-subtitle; 
grid-column-start: 2;
grid-column-end: 2;
}

#slider-padre-button { 
grid-area: slider-padre-button; 
grid-column-start: 2;
grid-column-end: 2;
}

.slider__tagline {
    font-size: 0.8em;
   /*  padding-top:16em; */
}


.slider__button {
    background-color: #4426ee;
    color:white;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-width: 120px;

}
.card-generica {
border-radius:30px; 
padding:85px;
}

.card__button {
    background-color: $color-primario;
    color:white;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin-top: 1em;
    margin-bottom:1em
}

.card__button:hover {
    background-color: #0e0637;
}


 /* Media Queries slider */

 
 @media screen and (max-width: 767px) {
    .slider-padre {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding:3em;
       background-size:auto;
    }
 }

 /* Media Queries Menu */

 @media screen and (max-width: 399px) {
   .menu {
       flex-direction: column;
       align-items: center;
    }
}

