* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-body;
    background-color: $bg-color;
    color: #000;
    overflow-x: hidden;
    background-color:white;
}

img {
    max-width: 100%;
}

/* titulos */

h1 {
    font-family: $fuente-titulos;
    font-size: 40px;
    color: white;
    
}

h2 {
    font-family: $fuente-titulos;
    font-size: 28px;
}
 
h3 {
    font-family: $fuente-titulos;
    font-size: 20px;
}

h4 {
    font-family: $fuente-titulos;
    font-size: 16px;
    color: $color-primario;
    text-transform: uppercase;
}

fieldset {
    border: none;
    }
    
    
    label {
        color:#ffffff;
    }

.logo {

    display: flex;
    justify-content:center;

    img {
        width: 125px;
     }
}


p {
    color: black;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6;
}

.tagline {
    p {
        font-size: 15px;
        color: $color-secundario;
        text-transform: uppercase;
    }
}

.subtitulo {
    p {
        color: white;
    }
}


/* Links */

a {
    text-decoration: none;
    color: $color-primario; 
    font-weight: bold;
    
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    transition:all 0.1s;
}

.active {
    color: $color-primario;
    font-weight: bold;
}

/* Listas */

ul,
ol {
    list-style-type: none;
}

li {
    display: inline;
}

.listado {
    display:block;
}

/* Botones */

.boton {
    border:none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    font-weight: bold;
    background-color: $color-primario;
    color:white;
}

.bhero {
    border:none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    font-weight: bold;
    background-color: $color-primario;
    color:white;
}


.boton:hover {
    background-color: #0e0637;
}

.bhero:hover {
    background-color: $color-secundario;
    color: $color-primario;
}

input, textarea {
    padding: 10px;
    border-radius:10px;
    color:white;
    border: 0px;
}




/* hero */

.cont-hero-padre {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    padding: 30px;
  }
  
  .cont-hero {
    display:flex; 
    flex-direction: row; 
    width: 1000px; 
    height: 500px;
    align-items: center;
    justify-content: space-between;
  }
  
  .cont-hero-izq {
    width: 375px; 
  }
  
  .cont-hero-der {
    width: 334px; 
  }




 /* Media Queries Hero */


 @media screen and (max-width: 768px) {

    .cont-hero-padre {
        justify-content: space-around;
      }


    .cont-hero {
        display:flex; 
        flex-direction: column-reverse; 
        height: auto;
        align-items: center;
        text-align: center;
    }

    .cont-hero-izq {
        width: 375px; 
        height: auto;
      }
      
      .cont-hero-der {
        width: 334px; 
        height: auto;
      }
 }



 @media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    
 }



 /* Media Queries Menu */

 @media screen and (max-width: 399px) {
   .menu {
       flex-direction: column;
       align-items: center;
    }
}

