/*Navbar*/

.navbar-contenedor {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    max-width: 1400px;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
}

.navbar-contenedor-padre {
    display: flex; 
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    text-align: center;
     }


.navbar-logo {
    display: flex;
    justify-content:center;

    img{
        width: 145px;
    }
    }

/*Topbar*/

.topnav-contenedor {
    display: flex; 
    flex-direction: column;
}


.topnav {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    min-height:25px; 
    text-align: center; 
    color:white; 
    font-size: 13px;
    text-transform:uppercase; 
}


.azul {
    background-color: $color-primario;
}

.cian {
    background-color: $color-secundario; 
    color: $color-primario;
}



/*Nav*/

.nav-padre {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    padding: 30px;
  }
  
.nav-chica {
    display:flex; 
    flex-direction: row; 
    width: 1000px; 
    align-items: center;
    justify-content: space-between;
}


 /* Media Queries Nueva nav */


 @media screen and (max-width: 768px) {

    .cont-hero-padre {
        justify-content: space-around;
      }


    .nav-chica  {
        display:flex; 
        flex-direction: column-reverse; 
        height: auto;
        align-items: center;
        text-align: center;
    }
 }