/* Origen */

.origen-contenedor-padre {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center
 }

  .origen-contenedor {
    padding: 20px;
    display: flex;
    max-width: 1400px;
 }

 .origen-columna {
    display: flex; 
    flex-direction: column;
    text-align:center; 
    align-items: center;
 }

 .origen-card {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    background-color: white;
 }

.origen-img {
    margin-bottom:20px;
}




/*  Cafe */


.cafe-contenedor-grande {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 30px;


    h3 {
        color: #4426ee;
        font-weight: 800;
    }

 }

 .cafe-contenedor-chico {
    margin-left: auto;
    margin-right: auto;
}

 .cafe-card {
    background-color: #d1f7f6;
    border-radius: 30px;
    padding: 50px;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    min-width: 400px;
}

.cafe-card-desc {
    max-width: 504px;
}

.cafe-img {
    margin-bottom:20px;
    max-width: 300px;
}



/*iconos*/

 .iconos-contenedor {
    display: flex; 
    flex-direction: row;
    padding: 50px;
 }

 .iconos {
    color: $color-primario;
    font-size: 50px;
    padding: 30px;

}

/*Newsletter*/

.news-bg {
    background-color: $color-primario;
}

.news-contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    h2, p {
        color: white;
    }
}

.news-boton {
    @include boton-base;
    background-color: $color-secundario;
    color:$color-primario;
}

.news-boton:hover {
    background-color: #0e0637;
}

.news-input {
    border-radius: 10px;
    padding: 15px;
    height: 54px;
}

.news-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    align-items: center;
}

/*Blog*/

.blog-bg {
    background-color: #fffdf0;
}

.blog-contenedor {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    h3 {
        color: #4426ee;
        font-weight: 800;
    }
    article {
        padding: 40px;
    }

 }




/* Bg */
.hero-home-bg {
    background-image: url("../images/slider.jpg"); 
    background-size:cover;
}

/* Imagen destacada */
.imagen-destacada {
    background-image: url("../images/img-destacada.jpg"); 
    background-size:cover;
    width: auto;
    height: 400px;
}

 /* Media Queries */


@media screen and (max-width: 768px) {
    .origen {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .cafe-card {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        text-align: center;
    }
    .boton-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .origen-contenedor{
    row-gap: 40px;
    }

    .iconos-contenedor-chico {
        row-gap: 20px;
        max-width: 500px;
     }
 }

 @media screen and (max-width: 480px) {

    .news-form {
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        margin-top: 20px;
    }

    .news-input {
        border-radius: 10px;
        padding: 15px;
        height: 54px;
        margin: 0px;
    }

    .news-boton {
        margin-top: 0px;
    }

 }



