




/* Colores */
$color-primario:#4426ee;
$bg-color:#ffffff;

/* Tipografias */
$fuente-titulos: 'Montserrat', sans-serif; 
$fuente-body: 'Raleway', sans-serif;
$fuente-grande: 3rem;
$fuente-chica:1rem;

/* Media Queries */
$pantalla-mediana: 768px;
$pantalla-grande: 992px;
$pantalla-xl: 1200px;