
/* Colores */
$color-primario:#4426ee;
$bg-color:#ffffff;
$acento:#c22969;
$color-secundario:#d1f7f6;

/* Tipografias */
$fuente-titulos: 'Montserrat', sans-serif; 
$fuente-body: 'Raleway', sans-serif;

/* Media Queries */
$pantalla-mediana: 768px;
$pantalla-grande: 992px;
$pantalla-xl: 1200px;